.wrapper {
    position: relative;
}
.controls {
    top: 0;
    left: 0;
    right: 0;
}
.forward {
    position: absolute;
    z-index: 500;
    top: 50%;
    transform: translateY(-50%);
    height: 31px;
    width: 31px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    transition: 0.1s;
    opacity: 1;
    pointer-events: all;
    right: -15px;
    background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik01LjI4NjgxIDQuMzM3MTNMMC42NjE0NjUgMC4xMDM3ODhDMC41MDk5MjEgLTAuMDM0ODMxNSAwLjI2NDU2OCAtMC4wMzQ1OTg1IDAuMTEzMjc4IDAuMTA0NTA1Qy0wLjAzNzg5NTMgMC4yNDM1OSAtMC4wMzc1MDQ3IDAuNDY4ODk4IDAuMTE0MDU5IDAuNjA3NjI1TDQuNDY0MDkgNC41ODkwMUwwLjExMzkwMyA4LjU3MDM3Qy0wLjAzNzY0MTQgOC43MDkxMSAtMC4wMzgwMzIxIDguOTM0MjggMC4xMTMxMjEgOS4wNzMzOEMwLjE4ODk2MiA5LjE0MzExIDAuMjg4MzE4IDkuMTc3OTggMC4zODc2NzQgOS4xNzc5OEMwLjQ4Njc3NiA5LjE3Nzk4IDAuNTg1NzQyIDkuMTQzMzUgMC42NjE0NDYgOS4wNzQxTDUuMjg2ODEgNC44NDA4NkM1LjM1OTggNC43NzQyMSA1LjQwMDc2IDQuNjgzNTEgNS40MDA3NiA0LjU4OTAxQzUuNDAwNzYgNC40OTQ1IDUuMzU5NjggNC40MDM5MSA1LjI4NjgxIDQuMzM3MTNaIiBmaWxsPSIjMzUzMjM4Ii8+Cjwvc3ZnPgo=") 12px/5px no-repeat;
}
.forwardDisabled {
    opacity: 0.5;
    pointer-events: none;
}
.backward {
    position: absolute;
    z-index: 500;
    top: 50%;
    transform: translateY(-50%);
    height: 31px;
    width: 31px;
    border-radius: 50%;
    border: 1px solid #e3e3e3;
    cursor: pointer;
    transition: 0.1s;
    opacity: 1;
    pointer-events: all;
    left: -15px;
    background: #fff url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNiIgaGVpZ2h0PSIxMCIgdmlld0JveD0iMCAwIDYgMTAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGQ9Ik0wLjcxMzIzNCA0Ljg0MDZMNS4zMzg1NCA5LjA3Mzk1QzUuNDkwMDggOS4yMTI1NyA1LjczNTQzIDkuMjEyMzMgNS44ODY3MiA5LjA3MzIzQzYuMDM3ODkgOC45MzQxNCA2LjAzNzUgOC43MDg4NCA1Ljg4NTk0IDguNTcwMTFMMS41MzU5NSA0LjU4ODczTDUuODg2MSAwLjYwNzM2NkM2LjAzNzY0IDAuNDY4NjIgNi4wMzgwMyAwLjI0MzQ1NiA1Ljg4Njg4IDAuMTA0MzUzQzUuODExMDQgMC4wMzQ2MjIyIDUuNzExNjggLTAuMDAwMjQ0MTQxIDUuNjEyMzMgLTAuMDAwMjQ0MTQxQzUuNTEzMjMgLTAuMDAwMjQ0MTQxIDUuNDE0MjYgMC4wMzQzODg1IDUuMzM4NTYgMC4xMDM2MzZMMC43MTMyMzQgNC4zMzY4N0MwLjY0MDI0NiA0LjQwMzUyIDAuNTk5Mjg5IDQuNDk0MjIgMC41OTkyODkgNC41ODg3M0MwLjU5OTI4OSA0LjY4MzIzIDAuNjQwMzYzIDQuNzczODMgMC43MTMyMzQgNC44NDA2WiIgZmlsbD0iIzM1MzIzOCIvPgo8L3N2Zz4K") 11px/5px no-repeat;
}
.backwardDisabled {
    opacity: 0.5;
    pointer-events: none;
}
.dotsWrapper {
    display:flex;
    align-items: center;
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    bottom: -20px;
}
.dots {
    flex: 1;
    display:flex;
    background: #fafafa;
    margin-right: 10px;
}
.dot {
    height: 3px;
    min-width: 3px;
    background: transparent;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
    flex: 1;
    transition: 0.1s;
}
.dotSelected {
    background: #0086A8;
}
.counter {
    font: normal normal 400 14px/1em 'Open-Sans', sans-serif;
    flex: 0 0;
    white-space: nowrap;
}
